#notes {
	padding: 16px;
	max-width: 75%;
	margin: auto;
}
.note {
	margin-top: 16px;
	display: flex;
	align-items: flex-start;
}
.inputs {
	margin-bottom: 16px;
}
.text {
	background: #EEEEEE;
	padding: 16px;
	border-radius: 6px;
	margin-right: 10px;
	width: 70%;
}
input {
	height: 32px;
	border: 1px solid #EEEEEE;
	padding: 0 8px;
	border-radius: 6px;
	margin-bottom: 16px;
	margin-right: 8px;
	width: 30%; 
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
button, select {
	height: 32px;
	margin-right: 4px;
	outline: none;
	border: none;
	border-radius: 4px;
	padding: 4px 16px;
	color: #EEEEEE;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;

}
.add {
	background: #2277DD;
}
.delete {
	background: #DD0000;
}
.edit, select {
	background: #227722;
}
body {
	background-color: #00000A;
	background-image: radial-gradient(#41bde260 0.7px, #00000A 0.7px);
	background-size: 11px 11px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
h2 {
	font-family: 'Readex Pro', sans-serif;
	color: #EEEEEE;
	font-weight: 700;
}