#notes {
	padding: 16px;
	max-width: 75%;
	margin: auto;
}
.note {
	margin-top: 16px;
	display: flex;
	align-items: flex-start;
}
.inputs {
	margin-bottom: 16px;
}
.text {
	background: #DDDDDD;
	padding: 16px;
	border-radius: 6px;
	margin-right: 10px;
	width: 70%;
}
input {
	height: 32px;
	border: 1px solid #DDDDDD;
	padding: 0 8px;
	border-radius: 6px;
	margin-bottom: 16px;
	margin-right: 8px;
	width: 30%; 
}
button, select {
	height: 32px;
	margin-right: 4px;
	outline: none;
	border: none;
	border-radius: 4px;
	font-weight: bold;
	padding: 4px 16px;
	color: #FFFFFF;
}
.add {
	background: #3399FF;
}
.delete {
	background: red;
}
.edit, select {
	background: #339933;
}
body {
	background-color: #00000A;
	background-image: radial-gradient(#1ac3f750 0.5px, #00000A 0.5px);
	background-size: 12px 12px;
}
h2 {
	color: #DDDDDD;
}